* {
    background-color: #332E3C;
    text-align: center;
    color:  #ECA400;
    font-family: 'Krona One', sans-serif;
}
#all {
    display: flex;
    margin: auto;
}

#instructions1 {
    border: 2px solid red;
    height: 120px;
    width: 200px;
    margin: auto;
}

#instructions2 {
    border: 2px solid red;
    height: 120px;
    width: 200px;
    margin: auto;
}

#border {
    border: 2px solid red;
    height: 620px;
    width: 800px;
    margin: auto;
}

h1 {
    margin-top: 30px;
}

button {
    color: red;
}

#container {
    display: grid;
    margin: auto;
    height: 450px;
    width: 450px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

#bomb {
    color: red;
}

#reset {
    height: 40px;
    width: 80px;
}

.green {
    background-color: #00EA5D;
    
}