* {
    background-color: royalblue;
    text-align: center;
}

#container {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"
    "thirteen fourteen fifteen sixteen";
}