* {
    background-color: black;
    text-align: center;
    color: red;
    font-family: 'Krona One', sans-serif;
}

h1 {
    margin-top: 30px;
}
button {
    color: red;
}

#container {
    display: grid;
    margin: auto;
    height: 450px;
    width: 450px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

#bomb {
    color: red;
}

#reset {
    height: 40px;
    width: 80px;
}

.clicked {
    background-color: greenyellow;
  }

/* .grid {
    border: yellow;
} */
